<footer>
  <div class="row">
    <div class="footer-col">
        <h4>Company</h4>
        <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <h4>Contact Us</h4>
        <p>Email: contact@parceldeliverytracking.com</p>
        <p>Phone: +27 (123) 456-5677</p>
    </div>

    <div class="footer-col">
        <h4>Our Address</h4>
        <p>Parcel Tracking System</p>
        <p>1234 Delivery Avenue 567</p>
        <p>South City, 12345</p>
    </div>

    <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>
<p class="company-name">&copy; 2023 Parcel Delivery Tracking System</p>

</footer>

